.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid white;
  width: 80%;
  margin: auto;
  padding-bottom: 5px;
  margin-bottom: -8px;
}

.fadein {
  -webkit-animation: fadein 4s;
  -moz-animation: fadein 4s;
  -ms-animation: fadein 4s;
  -o-animation: fadein 4s;
  animation: fadein 4s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
